/Student record management system/nbproject/private/
/Student record management system/build/
/contributions/nbproject/private/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/tuna/nbproject/private/
/poptie/nbproject/private/
/eat/nbproject/private/
/main/nbproject/private/
/MAINn/nbproject/private/
/MAINn/build/
/studentsrecords/nbproject/private/
/studentsrecords/build/
/Organization/build/
/Organization/dist/
/HTML5Application/nbproject/private/
/HTML5Application1/nbproject/private/
/HTML5Application2/nbproject/private/
/HTML5Application3/nbproject/private/
/bootstrap/nbproject/private/
/primayschoolstudents_recordssystem/nbproject/private/
/primayschoolstudents_recordssystem/build/
/primayschoolstudents_recordssystem/dist/